//
// VARIABLES
//
html {
    --lightGray: #eee;
    --backgroundColor: #fff;

    --textColor: #444;
    --titleColor: #222;
    --subtextColor: #999;

    // Colors
    --linkColor: #4183c4;

    // Grays
    --black: #000;

    // Font stacks
    --helvetica: Helvetica, Arial, sans-serif;
    --helveticaNeue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --paragraphFont: 'Merriweather', 'Georgia', serif;
    --footerColor: #eee;
}

html.dark {
  --backgroundColor: #383448;
  --lightGray: #ddd;

  --textColor: #ddd;
  --titleColor: #fff;
  --subtextColor: 999;

  // Colors
  --linkColor: rgb(199, 255, 192);

  // Grays
  --black: #000;

  // Font stacks
  --helvetica: Helvetica, Arial, sans-serif;
  --helveticaNeue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --paragraphFont: 'Merriweather', 'Georgia', serif;
  --footerColor: #141422;
}

// Mobile breakpoints
@mixin mobile {
    @media screen and (max-width: 640px) {
        @content;
    }
}
